:root {
    --c-pink: #E30059;
    --white: #fff;
    --grey: #f5f5f5;
    --back: #222;
    --card: #D5EDEE;
    --wit: #FFF;
    --geel: #FFD05F;
    --cyaan: #46BECD;
    --turkoois: #25AE93;
    --blauw: #606EB3;
    --bruin: #6A4955;
    --zand: #C9B5B2;
    --grijs: #444444;
    --licht-grijs: #DDDDDD;
    --licht-zwart: #525151;
    --border: 2px solid var(--grijs);
    --gradient-color-magenta: linear-gradient(332deg, #B9005F 0%, #E30059 100%);
    --magenta: #B9005F;
    --light-magenta: #E30059;
    --dark-magenta: #800041;

    --button-padding: 0.8em 1.6em;
    --button-border-radius: 0.3em;
  }  
  
  * {
    margin: 0;
    padding: 0;
    line-height: 28px;
    box-sizing: border-box;
    font-family: montserrat, sans-serif, Helvetica;
  } 
  
  .container {
    position: relative;
    width: 100%;
  }  

  
  nav {
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--c-pink);
    border-left: 10px solid var(--c-pink);
    transition: 0.5s;
    overflow: hidden;
  } 
  
  nav.active {
    width: 80px;
  } 
  
  nav ul {
    position: absolute;
    top: -73px;
    left: 0;
    width: 100%;
    margin-top: 6rem;
  } 
  
  nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  } 
  
  nav ul li:hover,
  nav ul li.hovered {
    background: var(--white);
  } 
  
  nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  } 
  
  nav ul li:hover a,
  nav ul li.hovered a {
    color: var(--blue);
  } 

  
  nav ul li a .title {
    font-size: 1.5rem;
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  } 
  
  main {
    position: absolute;
    width: calc(100% - 300px);
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    padding: 1rem
  }
  
  @font-face {
    font-family: "Fira Sans Regular";
    src: url("/assets/fonts/firasans-regular.ttf");
  }
  
  @font-face {
    font-family: "Fira Sans Medium";
    src: url("/assets/fonts/firasans-medium.ttf");
  }
  
  .typografie-styleguide {
    background-color: white;
    padding: 0.625rem;
    max-width: 70rem;
    margin: auto;
  }
  
  .sg-heading {
    border-bottom: var(--border);
    padding: 0.625rem;
    max-height: 8rem;
    min-height: 8rem;
    display: flex;
  }
  
  .voorbeeld-box-links {
    min-width: 34rem;
  }
  
  .voorbeeld-box-rechts {
    max-width: 15em;
  }
  
  .heading-informatie {
    display: flex;
  }
  
  .heading-kopje-text {
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .tekst-kopje-informatie {
    padding-left: 2px;
    padding-top: 2px;
    color: var(--licht-zwart);
  }
  
  .tekst-van-informatie {
    padding-left: 2px;
    padding-top: 0px;
  }
  
  .font-family-informatie {
    min-width: 9rem;
    min-height: 4.5rem;
    margin: auto;
  }
  
  .font-size-informatie {
    min-width: 9rem;
    min-height: 4.5rem;
    margin: auto;
  }
  
  .line-height-informatie {
    min-width: 9rem;
    min-height: 4.5rem;
    margin: auto;
  }
  
  .header-1-syleguide {
    font-size: 36px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .header-2-syleguide {
    font-size: 32px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .header-3-syleguide {
    font-size: 24px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .header-4-syleguide {
    font-size: 20px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .header-5-syleguide {
    font-size: 18px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .header-6-syleguide {
    font-size: 16px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .paragraaf-syleguide {
    font-size: 16px;
    font-family: "Fira Sans Regular";
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .linkjes {
    font-size: 16px;
    font-family: "Fira Sans Medium";
    font-weight: inherit;
    letter-spacing: -0.02em;
    margin: auto;
    padding: 0.625rem;
    color: var(--licht-zwart);
  }
  
  .calibri-kopje-text {
    font-family: Calibri;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .firasansmedium-kopje-text {
    font-family: "Fira Sans Medium";
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .firasansregular-kopje-text {
    font-family: "Fira Sans Regular";
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .abc-calibri-informatie {
    font-family: Calibri;
    margin: auto;
    font-size: 1.1rem;
    color: var(--licht-zwart);
  }
  
  .abc-firasansmedium-informatie {
    font-family: "Fira Sans Medium";
    margin: auto;
    font-size: 1.1rem;
    color: var(--licht-zwart);
  }
  
  .abc-firasansregular-informatie {
    font-family: "Fira Sans Regular";
    margin: auto;
    font-size: 1.1rem;
    color: var(--licht-zwart);
  }
  
  .lettertypes-kopje-text {
    font-family: "Fira Sans Medium";
    margin: auto;
    font-size: 2.1rem;
    color: var(--c-magenta);
    padding-top: 1.81rem;
  }
  
  .hpl-kopje-text {
    font-family: "Fira Sans Medium";
    margin: auto;
    font-size: 2.1rem;
    color: var(--c-magenta);
    padding-top: 1.81rem;
  }

.ui-settings a:hover{
    cursor: pointer;
}

.ui-settings button:hover{
    cursor: pointer;
}

.ui-settings a, svg {
    fill: var(--magenta);
    color: var(--c-magenta);
}


button{
    border: none;
    background: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.button-inner{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
    align-items: center;
}

.normal-btn{
    background: linear-gradient(to right, var(--magenta), var(--light-magenta));
    color: white;
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
}

.hover-btn{
    background: linear-gradient(to right, var(--magenta) 0%, var(--light-magenta) 10%, #FFF 11%);
    border: none;
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
    padding: var(--button-padding);
    color: var(--blauw);
    font-weight: 500;
}

.active-btn{
    background: white;
    color: var(--magenta);
    padding: var(--button-padding);
    border: solid 1px var(--magenta);
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans'; 
}

.focus-btn{
    background: white;
    color: var(--blauw);
    padding: var(--button-padding);
    border: solid 2px var(--blauw);
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';   
}

.main-btn{
    background: linear-gradient(to right, var(--magenta), var(--light-magenta));
    color: white;
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
}

.main-btn:hover{
    background: linear-gradient(to right, var(--magenta) 0%, var(--light-magenta) 10%, #FFF 11%);
    border: none;
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
    padding: var(--button-padding);
    color: var(--blauw);
    font-weight: 500;
}

.main-btn:active{
    background: white;
    color: var(--magenta);
    padding: var(--button-padding);
    border: solid 1px var(--magenta);
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
}

.main-btn:focus{
    background: white;
    color: var(--blauw);
    padding: var(--button-padding);
    outline: solid 2px var(--blauw);
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
}

.main-btn:focus-visible {
    background: white;
    color: var(--blauw);
    padding: var(--button-padding);
    border: solid 2px var(--blauw);
    border-radius: var(--button-border-radius);
    font-family: 'Fira sans';
    outline: var(--blauw);
}


/* KLEUREN */

.kleuren-uitleg {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#hoofdkleur {
  margin-bottom: 2rem;
}

#contrastkleuren .kleurblokken {}

.intro {
  margin: 0;
  padding: 0;
  height: fit-content;
}

h1 {
  font-size: 2.25rem;
  margin: 0;
  max-width: 100%;
}


p {
  font-size: 1rem;
  margin: 0;
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  margin: 0;
  max-width: 100%;
}

.intro h2,
.intro p {
  margin: 0;
}

.kleurblokken {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 2rem;
}

.kleurblok {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}

.kleurblok h4 {
  margin: 0;
  padding: 0;
}

.kleurblok p {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin: 0;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 10px;
  cursor: pointer;
}

.kleurblok p:hover {
  transform: scale(1.01);
}

.kleurblok p:active {
  transform: scale(.98);
}

#geel .kleurblok {
  background-color: #FFD05F;
}

#blauw .kleurblok {
  background-color: #46BECD;
}

#groen .kleurblok {
  background-color: #25AE93;
}

#donkerblauw .kleurblok {
  background-color: #606EB3;
}

#eggplant .kleurblok {
  background-color: #6A4955;
}

#coldturkey .kleurblok {
  background-color: #C9B5B2;
}

#tundora .kleurblok {
  background-color: #444444;
}

#alto .kleurblok {
  background-color: #DDDDDD;
}

#magenta {
  width: 20rem;
}

#gradient-magenta .kleurblok {
  background: linear-gradient(to right, #B9005F, #E30059);
}

#magenta .kleurblok {
  background-color: #B9005F;
}

.kleurblok {
  border-radius: 1rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: .5rem;
}

.item.groot {
  flex-grow: 1;
}

.item h3 {
  color: #444;
  margin: 0;
}

.kleurhex {
  color: white;
  font-weight: bold;
}

.more-info {
  margin-left: auto;
  height: .5rem;
}

.folder {
  padding: 2rem;
}


@media (max-width: 768px) {

  .item,
  #magenta {
      width: 100%;
  }

  .folder {
      padding: 2rem;
  }

  .kleurblok h4 {
      color: #ffff;
  }
}